<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cities list</title>
</head>
<body>
<table id="cityDataTable" class="table">
  <tr>

    <th class="th">City Id</th>
    <th class="th">City Name</th>
    <th class="th">Country Code</th>

  </tr>
  <tr th:each="city : ${key_city_list}">

    <td class="td" th:text="${city.cityId}"></td>
    <td class="td" th:text="${city.cityName}"></td>
    <td class="td" th:text="${city.countryCode}"></td>

  </tr>
</table>
</body>
</html>